
<!-- <head>
    <link rel="stylesheet" href="./hero.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
  />
</head> -->



<div class="startpage_hero">
   
    <div class="container_hero">
       <h1>Treat yourself or a loved one <br>to 
        our finest ingredients for a moment <br>
        of pure delight!</h1>
    </div>
    
    <div class="startpage_butons">
        
        
            <button data-modal-open class="buynow_button" type="button">Buy Now</button>
        
        
            <a class="scroll" href="#" class="btn_link">How it’s made</a>
        <a href="#" class="btn_scroll">Scroll down</a>
       
</div>

