.products{
    padding: 20px;
    
}
.products h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.products span {
    color: var(--orange);
}

.product-list{
    flex-wrap: nowrap;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
}
.product {
    flex: 0 0 auto;
    width: 12%;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #FAFAFA;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #333;
}
.slider{
    scroll-margin-bottom: 10px;
    position: relative;
    scrollbar-gutter:inherit;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:var(--orange);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
@media screen and (min-width: 1200px) {
    .unique-comp ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 19px;
        justify-content: center;
        max-height: 270px;
    }

    .unique-comp__card {
        width: 270px;
        height: 270px;
    }

    .ingredient-over__text {
        margin-top: 0px;
    }

    .ingredient-over {
        padding: 12px;
    }

}